* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Lora', serif;
  }
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #17bad1;
    background-image: linear-gradient(to bottom,#04a6bd,#65ddef);
    
  }
  .information{
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      color: #ffffff;
      padding-bottom: 100px;
      
  }
  
  .info{
      width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    
  }
  .info div{
      display: flex;
      padding: 50px;
  }
  .info .fa{
      font-size: 50px;
      width: 60px;
      height: 60px;
      line-height: 60px;
  }
  .info h1{
      padding-left: 20px;
      
      line-height: 60px;
  }
  .search{
      width: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 80px;
      color: #ffffff;
  }
  .search ul{
      list-style: none;
  }
  .search h2{
      padding-bottom: 20px;
  }
  .search ul li{
      display: flex;
      justify-content: space-between;
      padding: 10px;
  }

.search-bar{
  padding-bottom: 50px;
}
 .top-banner {
    padding-bottom: 50px;
    border-bottom: 1px solid #fff;
  }
  
  .top-banner form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
   
  .top-banner form input {
    width: 400px;
    height: 40px;
    border:none;
    outline: none;
    border-radius: 3px;
    padding-left: 20px;
  }
   
  .top-banner form input::placeholder {
    color: currentColor;
    padding-left: 10px; 
  }
  
  .top-banner form button {
    width: 100px;
    margin-left: 10px;
    height: 40px;
    border:none;
    outline: none;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: rgb(231, 42, 42);
    color: #fff;
    transition: background 0.3s ease-in-out;
  }
     
  @media only screen and (max-width: 700px) {
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      .information{
        width: 100%;
        display: flex;
      }
        .search{
            width: 100%;
            
        }
        .top-banner form button {
          width: 100px;
          margin-top: 20px;
          height: 40px;
          border:none;
          outline: none;
          padding: 10px 20px;
          border-radius: 3px;
          background-color: rgb(231, 42, 42);
          color: #fff;
          transition: background 0.3s ease-in-out;
        }
    }

  }
